/* Animation Keyframes */

@keyframes slideProgress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.progress-bar-active {
    animation: slideProgress 5s linear forwards;
}