/* Global Styles */
body {
    background-color: #0B0F14;
    color: #F8FAFC;
    -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0B0F14;
}

::-webkit-scrollbar-thumb {
    background: #1C2330;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}
